@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body
{
	margin-top: 10px;

}


#header-container
{
	color: white;
	background-image: url("code2.jpg");
	background-size: cover;
	height: 400px;
	width: 100%;
	margin-top: -20;
}

#main-header
{
	border: none;
}

#main-header h1
{
	padding-top: 80;
	font-family: 'Lato';
	font-size: 60px;
	font-weight: 300;
	text-align: center;

}
#main-header p
{
	margin-top: 25px;
	font-family: 'Lato';
	font-size: 30px;
	font-weight: 300;
	text-align: center;
}

#main-container
{
	background-color: white;
	padding: 10px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#main-container p
{
	margin-top: 10;
}

#main-container code
{
	color: #424242;
	font-family: Courier
}

#tut-section
{
	margin-top: 20;
}

#begin
{
	text-align: center;
}

footer
{
	background-color: #222222;
	color: white;
	font-family: 'Lato';
	font-weight: 400;
	text-align: center;
	padding: 5px;
}